input.enviar {
    color: white;
    background-color: rgb(99, 160, 216);
}

textarea.ver {
    background-color: rgb(134, 190, 96);
    color: white;
}

table.amr {
    background-color: rgb(245, 245, 188);
}